<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfvmyUU_pBvZiXGDqriJPlOObXqoJKWfU</string>
	<key>GCM_SENDER_ID</key>
	<string>439428576170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calendar</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-test-df339</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-test-df339.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439428576170:ios:112614eb15ad3205c1f1d3</string>
</dict>
</plist>